<!-- Our Styles -->
<link rel="stylesheet" href="css/styles.css">

<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="images/ridgeline.png" />
        <p id="profile-name" class="profile-name-card"></p>

        <form class="form-signin" action="#" method="post">

            <span id="reauth-email" class="reauth-email"></span>

            <input style="text-align: center;" type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
            <input style="text-align: center;" type="password" id="password" name="password" class="form-control" placeholder="password" required>
            <input style="text-align: center;" type="text" id="FirstName" class="form-control" placeholder="First Name" required autofocus>
            <input style="text-align: center;" type="text" id="LastName" class="form-control" placeholder="Last Name" required>
            <input style="text-align: center;" type="text" id="City" class="form-control" placeholder="City" required autofocus>
            <input style="text-align: center;" type="text" id="State" class="form-control" placeholder="State" required>
            
            <button id="signup-button" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Create</button>
            <button id="signup-cancel" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Cancel</button>
            
        </form><!-- /form -->

    </div><!-- /card-container -->
</div><!-- /container -->

<!--<center>
    <div>
        <button>
<a href="/signup" style="color: black; text-decoration: none">New User Sign Up</a>
        </button>
    </div>
</center>


<br></br>

<center>
    <div>
        <button>
<a href="/" style="color: black; text-decoration: none">Home Page</a>
        </button>
    </div>
</center>

<br></br>

<center>
<a href="/admin"><img src="../assets/web/images/infin.png" alt=""style="width:40px;height:40px;"hspace="20">
              </img>
          </a>
</center>-->

<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
<script src="../assets/web/js/js.cookie.js"></script>

<script type="text/javascript">

$( document ).ready(function() {
    console.log("Page is Ready!")
    // Remove any leftovers
    Cookies.remove('richwood-scentific-temp');
    document.getElementById("signup-button").onclick = function () {
        location.href = "/home";
        //console.log("Button Clicked")
    };
     document.getElementById("signup-cancel").onclick = function () {
        location.href = "/login";
        //console.log("Button Clicked")
    };
    
    $("form").submit(function() { 

        event.preventDefault(); 

        var val = $("input[type=submit][clicked=true]").val();
        var password = $('input[name="password"]').val();
        var email = $('input[name="email"]').val();

        $.ajax({
            url: "http://localhost:3000/Players",
            dataType: "json",
            type: "Get",
            contentType: 'application/json',
            data: JSON.stringify({ "email": email, "password": password } ),
            success: function (result) {
                
                var id_customer = result.data.customer[0].id;
                Cookies.set('richwood-scentific', id_customer);
                // TODO: make a cookie or otherwise store local information 
                //about the customer
                console.log(result);
                
                window.location.href = "/";
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) { 
                // A failure will usually mean an invalid login
                // TODO: Properly test if it is a 403 (already exists) or something else
                //alert("Hello! I am an alert box!");
                window.location.href = "/login";
            }  
        });

    });
       
});
    
    

</script>

